<div class="login-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="mb-5">
                    <div class="logo-wrap mb-5 text-center register_head">
                        Create your account
                    </div>
                    <div class="form-wrap">
                        <dx-validation-group>
                            <div class="field  mt-3">
                                <div class="label">Full name</div>
                                <dx-text-box [(value)]="editing_Employee.name">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"
                                                             message="Full name is required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="field mt-3">
                                <div class="label">User name</div>
                                <dx-text-box valueChangeEvent="keyup" [(value)]="editing_Employee.username">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"
                                                             message="User name is required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="field mt-3">
                                <div class="label">Password</div>
                                <dx-text-box valueChangeEvent="keyup" [(value)]="editing_Employee.password" mode="password">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"
                                                             message="Password is required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="field mt-3">
                                <div class="label">Confirm password</div>
                                <dx-text-box valueChangeEvent="keyup" [(value)]="editing_Employee.confirm_password"
                                             mode="password">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"
                                                             message="Password is required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="field mt-3">
                                <div class="col-lg-4">
                                    <div class="label mt-lg-2">Birthday</div>
                                </div>
                                <div class="col-lg-8">
                                    <dx-date-box type="date" width="100%"
                                                 [dateSerializationFormat]="'yyyy-MM-dd'"
                                                 [(value)]="editing_Employee.date_birth">
                                    </dx-date-box>
                                </div>
                            </div>
                            <div class="field mt-3">
                                <div class="label">Phone</div>
                                <dx-text-box
                                        [(value)]="editing_Employee.phone"
                                        mask="+1 (X00) 000-000"
                                        [maskRules]="phoneRules"
                                        maskInvalidMessage="The phone must have a correct USA phone format"
                                        [useMaskedValue]="true">
                                    <dx-validator>
                                        <dxi-validation-rule type="pattern" [pattern]="phonePattern"
                                                             message="The phone must have a correct USA phone format"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="field mt-3">
                                <div class="label">Email</div>
                                <dx-text-box valueChangeEvent="keyup" [(value)]="editing_Employee.email">
                                    <dx-validator>
                                        <dxi-validation-rule type="required" message="Email is required.">
                                        </dxi-validation-rule>
                                        <dxi-validation-rule type="email" message="Invalid email">
                                        </dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="field mt-3">
                                <div class="label">Address</div>
                                <dx-text-box [(value)]="editing_Employee.address">
                                    <dx-validator>
                                        <dxi-validation-rule type="required"
                                                             message="Password is required"></dxi-validation-rule>
                                    </dx-validator>
                                </dx-text-box>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-3">
                                    <div class="label mt-lg-2">Note</div>
                                </div>
                                <div class="col-lg-8">
                                    <dx-text-area height="100" [(value)]="editing_Employee.note" maxLength="255">
                                    </dx-text-area>
                                </div>
                            </div>
                            <div class="row d-flex align-items-center mt-3">
                                <div class="col text-lg-right mt-5 mr-5 mb-3">
                                    <dx-button width="85" text="Save" type="danger"
                                               [(disabled)]="isSubmitting"
                                               (onClick)="onSaveClick($event)" class="mr-3"></dx-button>
                                    <dx-button text="Cancel" (onClick)="onCancelEmployee()"></dx-button>
                                </div>
                            </div>
                        </dx-validation-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
