<div class="d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-6">
                <div class="form-wrap col-12">
                    <dx-validation-group>
                        <div class="row d-flex align-items-center mt-3">
                            <div class="col-md-12 mt-3">
                                <div class="field">
                                    <div class="label">Old password</div>
                                    <dx-text-box [(value)]="changePassword.old_password"
                                                 mode="password" valueChangeEvent="keyup"
                                                 placeholder="Enter old password">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="Old password is required">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="field">
                                    <div class="label">New password</div>
                                    <dx-text-box mode="password" placeholder="Enter new password"
                                                 valueChangeEvent="keyup" [(value)]="changePassword.new_password1">
                                        <dx-validator>
                                            <dxi-validation-rule type="required" message="New password is required">
                                            </dxi-validation-rule>
                                            <dxi-validation-rule
                                                    type="stringLength"
                                                    [min]="8"
                                                    message="Password must be at least 8 characters.">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-box>
                                </div>
                            </div>
                            <div class="col-md-12 mt-3">
                                <div class="field">
                                    <div class="label">Confirm new password</div>
                                    <dx-text-box mode="password" placeholder="Confirm new password"
                                                 valueChangeEvent="keyup" [(value)]="changePassword.new_password2">
                                        <dx-validator>
                                            <dxi-validation-rule type="required"
                                                                 message="Confirm new password is required">
                                            </dxi-validation-rule>
                                            <dxi-validation-rule type="compare" [comparisonTarget]="passwordComparison"
                                                                 message="New password and Confirm password do not match">
                                            </dxi-validation-rule>
                                            <dxi-validation-rule
                                                    type="stringLength"
                                                    [min]="8"
                                                    message="Password must be at least 8 characters.">
                                            </dxi-validation-rule>
                                        </dx-validator>
                                    </dx-text-box>
                                </div>
                            </div>
                        </div>
                        <div class="row text-left mt-3">
                            <div class="col">
                                <dx-button text="Save" type="danger" (onClick)="onSaveClick($event)"
								[(disabled)]="!isFormDirty || isSubmitting"></dx-button>
                                <dx-button class="ml-3" text="Cancel" (onClick)="onCancelClick()"></dx-button>
                            </div>
                        </div>
                    </dx-validation-group>
                </div>
            </div>
        </div>
    </div>
</div>



