<div class="wraper-payment">
    <ul class="payment-tab">
        <li>
            <a>Invoice</a>
        </li>
    </ul>
    <div>
        <div class="payment-component">
            <div class="payment-component-child">
                <div class="form-group">
                    <div class="form-label">
                        Total money
                        <span class="badge">{{ invoice.total_quantity }}</span>
                    </div>
                    <div class="form-output">
                        {{ invoice.total }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label">
                        Discount
                    </div>
                    <div class="form-output pt-0">
                        <div class="popup-anchor">
                            <button id="discount" class="form-control"
                                    (click)="onOpenChangeDiscountPopover()">{{ invoice.discount.discount }}</button>
                            <div>
                                <dx-popover
                                        target="#discount"
                                        position="left"
                                        [width]="300"
                                        [(visible)]="isChangeDiscountPopover">
                                    <div *dxTemplate="let data = model of 'content'">
                                        <div class="row">
                                            <div class="col-lg-3" style="padding-right: 1px; padding-left: 8px">
                                                <div class="label mt-lg-2">Discount</div>
                                            </div>
                                            <div class="col-lg-9">
                                                <dx-number-box [(value)]="invoice.discount.discount_convert"
                                                               [height]="30"
                                                               [width]="108"
                                                               [min]="0"
                                                               [max]="maxDiscount"
                                                               valueChangeEvent="keyup"
                                                               (onKeyUp)="onChangeDiscount($event)">
                                                </dx-number-box>
                                                <a class="discount" style="right: 50px"
                                                   [ngClass]="{'active':invoice.discount.conversion_form === '$'}"
                                                   (click)="setDiscountForm($event)">$</a>
                                                <a class="discount" style="right: 15px"
                                                   [ngClass]="{'active':invoice.discount.conversion_form === '%'}"
                                                   (click)="setDiscountForm($event)">%</a>
                                            </div>
                                        </div>
                                    </div>
                                </dx-popover>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label">
                        <strong>
                            <span>Customers need to pay</span>
                        </strong>
                    </div>
                    <div class="form-output text-hightlight">
                        {{ invoice.total - invoice.discount.discount }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
