<nav class="search">
    <div class="row">
        <h5 class="lb-Search">Search</h5>
        <div class="col-12 search-content">
            <div class="mt-2">
                <dx-text-box
                        [(value)]="searchFilter.productName"
                        (onEnterKey)="onEnterKey($event)"
                        placeholder="By code, product name">
                </dx-text-box>
            </div>
            <div class="mt-2">
                <dx-text-box
                        (onEnterKey)="onEnterKey($event)"
                        [(value)]="searchFilter.productDescribe"
                        placeholder="According to notes">
                </dx-text-box>
            </div>
        </div>
    </div>
    <app-loading-panel *ngIf="isLoading"></app-loading-panel>
    <div class="row search">
        <h5 class="lb-Search" type="default" (click)="showProductCategory()">Product category
            <a class="showhideicon">
                <i *ngIf="!isProductCategory" class="fas fa-chevron-circle-down"></i>
                <i *ngIf="isProductCategory" class="fas fa-chevron-circle-up"></i>
            </a>
        </h5>
        <a (click)="onAddCategory()" class="showhideicon addGroupProduct" title="Add product group">
            <i class="fas fa-plus-circle"></i>
        </a>
        <div style="overflow-y: scroll; overflow-x: auto;">
            <div class="col-12" *ngIf="isProductCategory">
                <dx-tree-view
                        #treeview
                        id="simple-treeview"
                        [dataSource]="categorys"
                        [width]="194"
                        dataStructure="plain"
                        keyExpr="id"
                        ([value])="categorys[0]"
                        displayExpr="name"
                        selectAllText="Select All"
                        parentIdExpr="parentId"
                        selectionMode="multiple"
                        [searchEnabled]="true"
                        [searchExpr]="'name'"
                        itemTemplate="itemTemplate">
                    <div *dxTemplate="let category of 'itemTemplate'">
                        <div class="itemTemplate">
                            <span class="itemName"
                                  (click)="emitFilterChangesProductCategory(category)">{{ category.name }}</span>
                            <a *ngIf="category.name!='All'" class="edittreeview" title="Edit product group">
                                <i class="fas fa-pencil-alt" (click)="onEditCategory(category)"></i>
                            </a>
                        </div>
                    </div>
                </dx-tree-view>
            </div>
        </div>
    </div>
</nav>

<div class="popup-container" *ngIf="isCategoryPopup">
    <dx-popup [title]="insurancePopupTitle" [width]="500" height="auto" [(visible)]="isCategoryPopup"
              [dragEnabled]="false" class="center-popup">
        <div *dxTemplate="let data of 'content'">
            <app-category [(category)]="selectedCategory"
                          (onSuccess)="onCategorySuccess($event)"
                          (onCancel)="onCancelCategory()">
            </app-category>
        </div>
    </dx-popup>
</div>
