
.search {
  .lb-Search {
    background-color: #0094da;
    width: 100%;
    padding: 7px;
    margin: 0 0 10px;
    color: #fff;
  }

  .showhideicon {
    width: 30px;
    height: 30px;
    position: absolute;
    color: #fff;
    outline: 0 !important;
    right: 0px;
    text-align: center;
  }

  .addGroupProduct {
    font-size: 1.25rem;
    position: absolute;
    right: 25px;
    top: 4.1px;
  }

  .itemTemplate {
    margin: 0;
    color: #000;
    .itemName {
      width: 100%;
      padding-right: 50px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .edittreeview {
      color: #056bd3;
      position: absolute;
      right: 80px;
      cursor: pointer;
      display: none;
    }
  }

  .itemTemplate:hover .edittreeview {
    display: inline-block;
  }

  .search-content {
    padding-right: 0;
    padding-bottom: 8px;
  }
}
