<aside>
    <a class="logo" routerLink="/"></a>

    <div class="toggle-icon" (click)="toggleMinimize()">
        <div>
            <i class="fa fa-angle-left"></i>
        </div>
    </div>

    <nav *ngIf="user">
        <ul>
            <li>
                <a routerLinkActive="active" [routerLink]="['/dashboard']">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li (click)="onToggleMenuProduct()">
                <a routerLinkActive="active" (click)="onShowProductItem()">
                    <i class="fas fa-cube"></i>Product
                    <span *ngIf="!isProductItem" class="fas fa-chevron-circle-down showhideicon"></span>
                    <span *ngIf="isProductItem" class="fas fa-chevron-circle-up showhideicon"></span>
                </a>
                <ul *ngIf="isProductItem">
                    <li>
                        <a routerLinkActive="active" [routerLink]="['/product']">
                            <i class="fas fa-th"></i>
                            <span>Product portfolio</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a routerLinkActive="active" (click)="onShowExchangeItem()">
                    <i class="fas fa-exchange-alt"></i>Exchange
                    <span *ngIf="!isExchangeItem" class="fas fa-chevron-circle-down showhideicon"></span>
                    <span *ngIf="isExchangeItem" class="fas fa-chevron-circle-up showhideicon"></span>
                </a>
                <ul *ngIf="isExchangeItem">
                    <li>
                        <a  routerLinkActive="active" [routerLink]="['/invoices']">
                            <i class="fas fa-file"></i>
                            <span>Bill</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-reply-all"></i>
                            <span>Return the goods</span>
                        </a>
                    </li>
                </ul>
            </li>
             <li>
                <a routerLinkActive="active" [routerLink]="['/customers']">
                    <i class="fas fa-user"></i>
                    <span>Customer</span>
                </a>
            </li>
            <li>
                <a routerLinkActive="active" (click)="onShowReportItem()">
                    <i class="fas fa-chart-bar"></i>Report
                    <span *ngIf="!isReportItem" class="fas fa-chevron-circle-down showhideicon"></span>
                    <span *ngIf="isReportItem" class="fas fa-chevron-circle-up showhideicon"></span>
                </a>
                <ul *ngIf="isReportItem">
                    <li>
                        <a href="#">
                            <i class="fas fa-chart-pie"></i>
                            <span>End day</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-clipboard"></i>
                            <span>Sell goods</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-cube"></i>
                            <span>merchandise</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
