<dx-validation-group>
    <div class="form-wrap">
        <div class="row">
            <div class="col-lg-7">
                <div class="row mt-4">
                    <div class="col-lg-3">
                        <div class="label mt-lg-2">Product code</div>
                    </div>
                    <div class="col-lg-8">
                        <dx-text-box [(value)]="editing_Product.id">
                        </dx-text-box>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-3">
                        <div class="label mt-lg-2">Product name</div>
                    </div>
                    <div class="col-lg-8">
                        <dx-text-box [(value)]="editing_Product.name">
                            <dx-validator>
                                <dxi-validation-rule type="required"
                                                     message="Product name is required"></dxi-validation-rule>
                            </dx-validator>
                        </dx-text-box>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-3">
                        <div class="label mt-lg-2">Category</div>
                    </div>
                    <div class="col-lg-7">
                        <dx-drop-down-box
                                [(value)]="treeBoxValue"
                                valueExpr="id"
                                displayExpr="name"
                                placeholder="Category"
                                [dataSource]="lookupCategories"
                                [showClearButton]="true"
                                (onValueChanged)="syncTreeViewSelection($event)">
                            <div *dxTemplate="let data of 'content'">
                                <dx-tree-view #serviceCategoryTree
                                              [dataSource]="lookupCategories"
                                              dataStructure="plain"
                                              keyExpr="id"
                                              displayExpr="name"
                                              parentIdExpr="parentId"
                                              selectionMode="single"
                                              [selectByClick]="true"
                                              (onContentReady)="$event.component.selectItem(treeBoxValue)"
                                              (onItemSelectionChanged)="treeView_itemSelectionChanged($event)">
                                </dx-tree-view>
                            </div>
                            <dx-validator>
                                <dxi-validation-rule type="required"
                                                     message="Category is required"></dxi-validation-rule>
                            </dx-validator>
                        </dx-drop-down-box>
                    </div>
                    <dx-button class="mr-1" type="default" (onClick)="onAddCategory()">
                        <i class="fas fa-plus" ></i>
                    </dx-button>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3">
                        <div class="label mt-lg-2">Price cost</div>
                    </div>
                    <div class="col-lg-8">
                        <dx-number-box [(value)]="editing_Product.price_cost"
                                       placeholder="Enter order number"
                                       format="$ #,##0.##"
                                       rtlEnabled="true"
                        ></dx-number-box>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3">
                        <div class="label mt-lg-2">Price sale</div>
                    </div>
                    <div class="col-lg-8">
                        <dx-number-box [(value)]="editing_Product.price_sale"
                                       placeholder="Enter order number"
                                       format="$ #,##0.##"
                                       rtlEnabled="true"
                        ></dx-number-box>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-lg-3">
                        <div class="label mt-lg-2">On hand</div>
                    </div>
                    <div class="col-lg-8">
                        <dx-number-box [(value)]="editing_Product.on_hand"
                                       placeholder="Enter order number"
                                       format="#,##0.##"
                                       rtlEnabled="true">
                        </dx-number-box>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="product-upload mt-2">
                        <div class="row">
                            <div class="img-upload">
                                <ul *ngFor='let url of imageUrls' class="same">
                                    <li style="width: 40%; height: 150px">
                                        <img [src]="url" height="100">
                                    </li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="upload-btn-wrapper">
                                <button class="btn">Select file</button>
                                <input type='file' (change)="onSelectFile($event)" multiple/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="field">
                        <dx-check-box text="Allows sale" [(value)]="editing_Product.allows_sale">
                        </dx-check-box>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="panel panel-default mt-3">
                <div class="panel-heading">Inventory norms</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="label mt-lg-2">At least</div>
                        </div>
                        <div class="col-lg-4">
                            <dx-number-box [(value)]="editing_Product.min_quantity"
                                         format="#,##0.##"
                                         rtlEnabled="true">
                            </dx-number-box>
                        </div>
                        <div class="col-lg-2">
                            <div class="label  mt-lg-2">The most</div>
                        </div>
                        <div class="col-lg-4">
                            <dx-number-box [(value)]="editing_Product.max_quantity"
                                         format="#,##0.##"
                                         rtlEnabled="true">
                            </dx-number-box>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <dx-html-editor [(value)]="editing_Product.describe" height="300">
                    <dxo-toolbar>
                        <dxi-item> Describe</dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="undo"></dxi-item>
                        <dxi-item formatName="redo"></dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3, 4, 5]"></dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="bold"></dxi-item>
                        <dxi-item formatName="italic"></dxi-item>
                        <dxi-item formatName="strike"></dxi-item>
                        <dxi-item formatName="underline"></dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                        <dxi-item formatName="alignLeft"></dxi-item>
                        <dxi-item formatName="alignCenter"></dxi-item>
                        <dxi-item formatName="alignRight"></dxi-item>
                        <dxi-item formatName="alignJustify"></dxi-item>
                        <dxi-item formatName="separator"></dxi-item>
                    </dxo-toolbar>
                </dx-html-editor>
            </div>
        </div>
        <div class="row d-flex align-items-center mt-3">
            <div class="col text-lg-right mt-2">
                <dx-button width="85" text="Save" type="danger"
                           [(disabled)]="isSubmitting"
                           (onClick)="onSaveClick($event)" class="mr-3"></dx-button>
                <dx-button text="Cancel" (onClick)="onCancelProduct()"></dx-button>
            </div>
        </div>
    </div>
</dx-validation-group>

<!--Detail Category-->
<div class="popup-container" *ngIf="isCategoryPopup">
    <dx-popup [title]="insurancePopupTitle" [width]="500" height="auto" [(visible)]="isCategoryPopup"
              [dragEnabled]="false" class="center-popup">
        <div *dxTemplate="let data of 'content'">
            <app-category [(category)]="selectedCategory"
                          (onSuccess)="onCategorySuccess($event)"
                          (onCancel)="onCancelCategory()">
            </app-category>
        </div>
    </dx-popup>
</div>
